@font-face {
    font-family: 'SanFranciscoRegular';
    src: url("../../fonts/SFUIText-Regular.otf") format("opentype");
}

.App-main{
    font-family: 'SanFranciscoRegular', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;;
}