.SettingsCard {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin-left : 10%;
    margin-right: 10%;
}

.Field {
    height: 5%;
    width: 40%;
    margin-left : 2%;
}